/* html {
    height:100%;
    width: 100%;
} */

body {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body > * {
  vertical-align: top;
}

#graphs {
  /* border-style: solid; */
  display: inline-block;
  width: 48%;
  margin: 0;
  min-height: 100%;
}

#data {
  /* border-style: solid; */
  display: inline-block;
  width: 49%;
  margin: 0;
  /* min-height: 100%; */
}

.row {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.row > * {
  vertical-align: middle;
  line-height: normal;
}

.race {
  width: 30%;
}

input {
  width: 15%;
  margin-left: 0.25em;
  display: inline-block;
}

#barchart {
  margin: 3em;
  height: 200px;
}

#piechart {
  margin: 3em;
}
