/* html {
    height:100%;
    width: 100%;
} */

body {
  background-color: white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: fantasy;
}

body > * {
  vertical-align: top;
  line-height: normal;
}

.header {
  background-color: #e7e7e7;
  padding: 40px;
  margin-bottom: 30px;
}

#graphs {
  /* border-style: solid; */
  display: inline-block;
  width: 48%;
  margin: 0;
  min-height: 100%;
}

#data {
  /* border-style: solid; */
  display: inline-block;
  width: 49%;
  margin: 0;
  /* min-height: 100%; */
}

form {
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px;
  border-radius: 10px
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  height: 10%;
}

.row > * {
  vertical-align: middle;
  line-height: normal;
}

.label {
  width: 15%;
  word-wrap: break-word;
}

.race {
  width: 30%;
}

input {
  width: 15%;
  margin-left: 0.25em;
  display: inline-block;
}

#barchart {
  margin: 3em;
  height: 200px;
}

#piechart {
  margin: 3em;
}
